{{- range $i := until (int .Values.clusterCount) }}
apiVersion: containerservice.azure.com/v1api20240901
kind: ManagedCluster
metadata:
  name: {{ $.Release.Name }}-{{ $i }}-aks
spec:
  location: {{ $.Values.location }}
  owner:
    name: rg-k8s-fleet
  agentPoolProfiles:
    - name: system
      enableAutoScaling: true
      minCount: 1
      maxCount: 3
      vmSize: standard_d2as_v6
      osType: Linux
      osSKU: AzureLinux
      mode: System
  identity:
    type: SystemAssigned
  dnsPrefix: {{ $.Release.Name }}-{{ $i }}-aks
---
apiVersion: kubernetesconfiguration.azure.com/v1api20230501
kind: Extension
metadata:
  name: {{ $.Release.Name }}-{{ $i }}-gitops
spec:
  autoUpgradeMinorVersion: true
  extensionType: microsoft.flux
  identity:
    type: SystemAssigned
  owner:
    group: containerservice.azure.com
    kind: ManagedCluster
    name: {{ $.Release.Name }}-{{ $i }}-aks
  scope:
    cluster:
      releaseNamespace: kube-system
---
apiVersion: kubernetesconfiguration.azure.com/v1api20230501
kind: FluxConfiguration
metadata:
  name: {{ $.Release.Name }}-{{ $i }}-flux
spec:
  gitRepository:
    repositoryRef:
      branch: main
    url: {{ $.Values.flux.repository }}
  kustomizations:
    apps: 
      dependsOn: 
        - infra
      force: false
      path: {{ $.Values.flux.kustomizationPath }}
      prune: true
      syncIntervalInSeconds: 600
      timeoutInSeconds: 600
      wait: true
    infra:
      force: false
      path: ./infrastructure
      prune: true
      syncIntervalInSeconds: 600
      timeoutInSeconds: 600
      wait: true
  namespace: cluster-config
  owner:
    group: containerservice.azure.com
    kind: ManagedCluster
    name: {{ $.Release.Name }}-{{ $i }}-aks
  sourceKind: GitRepository
---
{{- end }}